.App {
  text-align: center;
  background-color: #F8F8F8;
  height: 100%;
}

#root{
  height: 100%;
}

menu{
  width: 100%;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
  margin: 0;
  border-bottom: 2px solid #E7E8E7;
}
menu a{
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 12px 20px;
}

a.is-active{
  border-bottom: 1px solid #0198EC;
}